<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
<testsuites>
    <testsuite name="CryptBundle test suite">
        <directory>tests/</directory>
    </testsuite>
</testsuites>

<filter>
    <whitelist>
        <directory suffix=".php">src/</directory>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </whitelist>
</filter>
</phpunit>
